<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动画练习</title>
    <link rel="stylesheet" href="./myProject/flash/css/index.css">
</head>
<body>
    <div class="container">
        <ul>
            <li>
                <img src="./myProject/flash/img/1.jpg" alt="">
                <div class="cover">
                    <div class="des">以冰霜之操自律，以穹窿之量待人。</div>
                </div>
            </li>
            <li>
                <img src="./myProject/flash/img/2.jpg" alt="">
                <div class="cover">
                    <div class="des">安于百份节俭，回守一份清廉。</div>
                </div>
            </li>
            <li>
                <img src="./myProject/flash/img/3.jpg" alt="">
                <div class="cover">
                    <div class="des">春华秋实无虚度，但凭真诚写人生。</div>
                </div>
            </li>
            <li>
                <img src="./myProject/flash/img/4.jpg" alt="">
                <div class="cover">
                    <div class="des">没有内在的平静，没有外在的安宁。</div>
                </div>
            </li>
            <li>
                <img src="./myProject/flash/img/5.jpg" alt="">
                <div class="cover">
                    <div class="des">黑发不知勤学早，白发方悔读书迟。</div>
                </div>
            </li>
        </ul>
    </div>
    <script src="./myProject/flash/js/index.js"></script>
</body>
</html>