<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>移动端相册</title>
    <link rel="stylesheet" href="./myProject/mobileAlbum/css/index.css">
</head>
<body>
    <div>
        <ul>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
            <li class="item"></li>
        </ul>
    </div>
    

    <script src="./myProject/mobileAlbum/js/zepto.min.js"></script>
    <script src="./myProject/mobileAlbum/js/touch.js"></script>
    <script src="./myProject/mobileAlbum/js/fx.js"></script>
    <script src="./myProject/mobileAlbum/js/index.js"></script>
</body>
</html>